# Database
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=postgres_db
POSTGRES_PORT=postgres_port
POSTGRES_HOST=postgres_host
POSTGRES_URL=postgres_url

# JWT
JWT_ISSUER=issuer_name
JWT_SECRET=generated_secret

# Worker
WORKER_PASSWORD=worker_password
